
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "#{list.category.downcase}.jpg" %>);">
  <%= link_to list.name, list_path(list), class: 'text-decoration-none text-white' %>
</div>