<div class="container my-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Lists</h1>
    <%= link_to new_list_path, class: 'text-dark text-decoration-none' do %>
        <i class="fa-solid fa-plus"></i>
    <% end %>
  </div>

  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title"><%= list.name %></h5>
            <p class="card-text">
              <%= pluralize(list.movies.count, 'movie') %>
            </p>
            <%= link_to "View list", list_path(list), class: "btn btn-outline-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>